---
layout: page
title: Posts
---

{% for post in site.posts %}
<h3><a href="{{ post.url }}">{{ post.title }}</a> | {{ post.date | date: '%Y' }}</h3>
<p>{{ post.excerpt }}</p>
<small><a href="{{ post.url }}">Lire la suite...</a></small>
{% endfor %}
