<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-{{site.color-scheme}}">

    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title | newline_to_br }}</a>
            <br><small>{{ site.tagline }}</small>
          </h3>
        </div>
        <nav>
          <ul>
            <li><a href="/">Appel</a></li>
            <li><a href="/posts/">Actualité</a></li>
          </ul>
        </nav>
      </div>

      <div class="container content" id="main">
        {{ content }}
      </div>
    </div>

  </body>
</html>
